{{> header}}
<div class="ui container">
    <div class="ui statistic">
        <div class="value" id="randomStatVal">5550</div>
        <div class="label">Random Number<i class="large green sync link icon" onclick="updateNumber();"></i></div>
        
    </div>
    <div class="ui form" style="text-align: left;margin-top: 30px;">
        <div class="field">
            <div id="holder" class="ui segment div_drag" style="min-height: 280px;cursor: pointer;text-align: center;" onclick="$('#file_for_upload').click();">
                <i class="massive cloud upload icon"></i>
                <div>
                    <p>
                        <label> drag and drop file or click to upload</label>
                        <a class="ui basic large label" style="display:none">file name .xlsx</a>
                    </p>
                    <div class="ui tiny images" style="opacity: 0.3;">
                        <img class="ui image" src="/images/ods.svg">
                        <img class="ui image" src="/images/xls.svg">
                        <img class="ui image" src="/images/xlsx.svg">
                    </div>
                </div>
            </div>
            <input type="file" id="file_for_upload" style="display:none" onchange="processFileForUpload(event);" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.oasis.opendocument.spreadsheet"/>
            <ul class="parsley-errors-list filled"><li class="parsley-required"></li></ul>
            <div id="submit_create_brand_bulk" class="ui primary button disabled" onclick="submitBulk();"><i class="checkmark icon"></i> Upload</div>
            <div id="reset_create_brand_bulk" class="ui secondary button" onclick="clearBulk();"><i class="undo icon"></i>Clear</div>
            <a href="/samplefiles/sample_data.xlsx">View sample file</a>
        </div>
        <div class="field">
            <label>&nbsp;</label>
            <div class="ui button" onclick="validateData()">Download Excel</div>
        </div>
    </div>

    <hr>
    <form class="ui form" action="test-multipart" style="text-align: left;" enctype="multipart/form-data" method="post">
        <div class="field">
            <label>First Name</label>
            <input type="text" name="first-name">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input type="text" name="last-name">
        </div>
        <div class="field">
            <label>File(s)</label>
            <input type="file" name="file1" multiple="multiple" />
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>
<!--<script src="/prod/js/views/landing.js" type="text/javascript"></script>-->
{{> footer}}